.WrapperButton a{
    color: var(--color-white);
    background-color: var(--color-black);
    border: 2px solid var(--color-white);
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 500;
}

.WrapperButton a:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}